.help-section {
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1553775282-20af80779df7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.help-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-form-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
}

.help-form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2.5rem;
    background-color: rgba(255, 255, 255, 0.7);
}