.insurance-page {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border-top: 8px solid lightgray;
    border-bottom: 8px solid lightgray;
    margin: 0.5rem 0;
    padding: 2rem 0;
}

.insurance-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0;
    padding: 1rem 0;
    cursor: pointer;
    border-bottom: 5px solid white;
}

.insurance-item>h3 {
    color: black;
}

.insurance-item:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    opacity: 0.97;
    border-bottom: 5px solid rgb(199, 37, 37);
}

.insurance-item>img {
    border-radius: 5px;
}

.insurance-item>button,
.insurance-auto-button {
    background: none;
    color: rgb(129, 125, 125);
    border: none;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    outline: none;
}


.insurance-image {
    width: 20rem;
    height: 18rem;
}